
<mat-toolbar color="primary" class="mat-elevation-26">
    <span><mat-icon>eco</mat-icon>CompanyLOGO</span>
    <div class="space"></div>
    <a link="D:\AngularNimap\ProjectDemo\src\app\profile\profile.component.html" mat-button>Home</a>
    <a mat-button>About</a>
    <a mat-button routerLink="profile">Profile</a>
   <a> <mat-dialog-actions>
        <button mat-raised-button color="accent" (click)="openDialog()">Register</button>
    
    </mat-dialog-actions></a>
    </mat-toolbar>

    <app-profile></app-profile>
    